[submodule "themes/hugo-tania"]
	path = themes/hugo-tania
	url = https://github.com/WingLim/hugo-tania
[submodule "themes/hugo-ray"]
	path = themes/hugo-ray
	url = git@github.com:WingLim/hugo-ray.git
